<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HBPro_Programmatic_Approach/src/com/dheerendra/test/GetObject.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dheerendra.test.GetObject"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HBPro_Programmatic_Approach"/>
</launchConfiguration>
