<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HBP3-Withouthibenate/src/com/dheerendra/test/ORMSynchronizeTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.dheerendra.test.ORMSynchronizeTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HBP3-Withouthibenate"/>
</launchConfiguration>
